@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hb98av');
  src:  url('../fonts/icomoon.eot?hb98av#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hb98av') format('truetype'),
    url('../fonts/icomoon.woff?hb98av') format('woff'),
    url('../fonts/icomoon.svg?hb98av#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addaddress:before {
  content: "\e900";
  color: #000;
}
.icon-arrow:before {
  content: "\e901";
}
.icon-btn_liebiao:before {
  content: "\e902";
  color: #474747;
}
.icon-bukeyong:before {
  content: "\e903";
}
.icon-cart_decrease:before {
  content: "\e904";
}
.icon-cart_increase:before {
  content: "\e905";
}
.icon-cart_nomal:before {
  content: "\e906";
  color: #474747;
}
.icon-cart_selected:before {
  content: "\e907";
  color: #474747;
}
.icon-cart:before {
  content: "\e908";
}
.icon-choosecoupon .path1:before {
  content: "\e909";
  color: rgb(0, 0, 0);
}
.icon-choosecoupon .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-classify:before {
  content: "\e90b";
  color: #474747;
}
.icon-clock .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-clock .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 93, 49);
}
.icon-clock .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 93, 49);
}
.icon-clock .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 93, 49);
}
.icon-clock .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 93, 49);
}
.icon-clock .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 93, 49);
}
.icon-close:before {
  content: "\e912";
}
.icon-decrease:before {
  content: "\e913";
}
.icon-delete:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-finish:before {
  content: "\e916";
}
.icon-gou:before {
  content: "\e917";
  color: #ff5d31;
}
.icon-help:before {
  content: "\e918";
  color: #7f7f7f;
}
.icon-home_nomal:before {
  content: "\e919";
  color: #474747;
}
.icon-home_selected:before {
  content: "\e91a";
  color: #474747;
}
.icon-icon_pay_wechat .path1:before {
  content: "\e91b";
  color: rgb(0, 0, 0);
}
.icon-icon_pay_wechat .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon_selected:before {
  content: "\e91d";
}
.icon-increase:before {
  content: "\e91e";
}
.icon-kefu .path1:before {
  content: "\e91f";
  color: rgb(71, 71, 71);
}
.icon-kefu .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-kefu .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-kefu .path4:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-kefu .path5:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-marrow:before {
  content: "\e924";
}
.icon-menu:before {
  content: "\e925";
  color: #474747;
}
.icon-message:before {
  content: "\e926";
  color: #474747;
}
.icon-my_daifahuo .path1:before {
  content: "\e927";
  color: rgb(71, 71, 71);
}
.icon-my_daifahuo .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daifahuo .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_daifahuo .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daifahuo .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daifukuan .path1:before {
  content: "\e92c";
  color: rgb(71, 71, 71);
}
.icon-my_daifukuan .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daifukuan .path3:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_daifukuan .path4:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daishouhuo .path1:before {
  content: "\e930";
  color: rgb(71, 71, 71);
}
.icon-my_daishouhuo .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_daishouhuo .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_daishouhuo .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daishouhuo .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_daishouhuo .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path1:before {
  content: "\e936";
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_tuihuo .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path5:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path6:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path7:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_tuihuo .path8:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_yiwancheng .path1:before {
  content: "\e93e";
  color: rgb(71, 71, 71);
}
.icon-my_yiwancheng .path2:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-my_yiwancheng .path3:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_yiwancheng .path4:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-my_yiwancheng .path5:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-my_yiwancheng .path6:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-notice:before {
  content: "\e944";
}
.icon-omited:before {
  content: "\e945";
  color: #ff5d31;
}
.icon-pay_alipay:before {
  content: "\e946";
}
.icon-position:before {
  content: "\e947";
}
.icon-search:before {
  content: "\e948";
  color: #a5a4a4;
}
.icon-selected:before {
  content: "\e949";
  color: #474747;
}
.icon-sign:before {
  content: "\e94a";
  color: #ff5d31;
}
.icon-success:before {
  content: "\e94b";
}
.icon-sure:before {
  content: "\e94c";
}
.icon-tab_nomal:before {
  content: "\e94d";
  color: #474747;
}
.icon-tab_selected:before {
  content: "\e94e";
  color: #474747;
}
.icon-time:before {
  content: "\e94f";
  color: #474747;
}
.icon-top:before {
  content: "\e950";
}
.icon-unselected:before {
  content: "\e951";
}
.icon-xq_cantuan .path1:before {
  content: "\e952";
  color: rgb(255, 255, 255);
}
.icon-xq_cantuan .path2:before {
  content: "\e953";
  margin-left: -0.900390625em;
  color: rgb(35, 24, 21);
}
.icon-xq_cantuan .path3:before {
  content: "\e954";
  margin-left: -0.900390625em;
  color: rgb(35, 24, 21);
}
.icon-xq_invite .path1:before {
  content: "\e955";
  color: rgb(255, 255, 255);
}
.icon-xq_invite .path2:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_invite .path3:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-xq_invite .path4:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_invite .path5:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_invite .path6:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_pay .path1:before {
  content: "\e95b";
  color: rgb(255, 255, 255);
}
.icon-xq_pay .path2:before {
  content: "\e95c";
  margin-left: -0.900390625em;
  color: rgb(71, 71, 71);
}
.icon-xq_pay .path3:before {
  content: "\e95d";
  margin-left: -0.900390625em;
  color: rgb(255, 255, 255);
}
.icon-xq_pay .path4:before {
  content: "\e95e";
  margin-left: -0.900390625em;
  color: rgb(71, 71, 71);
}
.icon-xq_pay .path5:before {
  content: "\e95f";
  margin-left: -0.900390625em;
  color: rgb(71, 71, 71);
}
.icon-xq_success .path1:before {
  content: "\e960";
  color: rgb(255, 255, 255);
}
.icon-xq_success .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_success .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_success .path4:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
.icon-xq_success .path5:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(71, 71, 71);
}
