@charset "utf-8";
html{ height:100%; }
body { @extend %fontPFR; line-height:1.5714; background-color:#fff; font-size:$BodySize; overflow-x:hidden; }
.bgf{ background-color: #f8f8f8!important;}

.fleft{ float:left!important; }
.fright{ float:right!important;}
.tright{ text-align: right!important;}
.tcenter{ text-align: center!important;}
.hide{display:none!important;}
.show{ display:block!important;}
.font10{ font-size:10px!important;}
.font12{ font-size:12px!important;}
.font14{ font-size:14px!important;}
.font16{ font-size:16px!important;}
.font18{ font-size:18px!important;}
.fontPFM{ @extend %fontPF;}
.colorH{ color:$colorh;}

.isLoading{ text-align: center; font-size:12px; padding:10px; color:#474747}

.minIcon{ font-size:12px!important; font-style: normal;
    &.active{ color:$colorh;}
}

input[type='checkbox'],input[type='radio']{ width:16px; height:16px; border:1px solid #979797; border-radius:50%;@include ismiddle; }
input[type='checkbox']:checked,input[type='radio']:checked{  border-color:$colorh; background:url(../../static/img/check.png) no-repeat center; background-size:68% 68%;}

@keyframes loading{
    0% { transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(360deg); -webkit-transform:rotate(360deg);  -o-transform:rotate(360deg); }
}

@-webkit-keyframes loading{
    0% { transform:rotate(0deg); -webkit-transform:rotate(0deg); -o-transform:rotate(0deg); }
    100%{ -webkit-transform:rotate(360deg); -webkit-transform:rotate(360deg);  -o-transform:rotate(360deg); }
}

#loading{ position:fixed; top:0; left:0; width:100%; height:100%; background-color:#fff; z-index: 99999;
    img{ position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:50px;
        -webkit-animation:loading linear 1s infinite;
        -o-animation:loading linear 1s infinite;
        animation:loading linear 1s infinite;
    }
}

#app{
    @include screenMin(800px) { width:540px;}
}

#container{ max-width:1080px; background-color:#fff; margin:0 auto; position:absolute; overflow-x:scroll; -webkit-overflow-scrolling: touch; top:0; left:0; bottom:0; right:0; overflow-y:scroll;
    @include screenMin(800px) { width:540px;}
    &.noScroll{
        .myWhiteBg{ position:absolute; left:15px; right:15px; top:15px; bottom:0; margin:0; }
    }
}

.bgf{ background-color:#f8f8f8!important; }
.noPad{ padding-bottom: 0!important;}
.paddingBt30{ padding-bottom: 30px!important;}
.paddingBt50{ padding-bottom: 50px!important;}
.paddingBt80{ padding-bottom: 80px!important;}
.paddingTop84{ padding-top:84px!important;}
.paddingTop120{ padding-top:120px!important;}

//头部打开app
#indexTop{
    &.fixed{ margin-top:-60px;
        .searchBar{ position:fixed; top:0; left:0; z-index: 4;}
    }
}

.topBar{ padding:10px 14px; position:relative; background-color: #fff;
    img{ width:40px; @include ismiddle; border: 1px solid #EEEEEE; border-radius:5px; }
    .info{@include ismiddle;
        b{ font-family:'PingFangSC-Medium','Microsoft YaHei','heiti TC', Arial, Helvetica, SimSun, Sans-serif; font-size: 14px; color: #000000;}
        p{ font-size: 12px; color: #000; @extend %fontPFL;}
    }
    .btn{ position:absolute; display:block; right:14px; top:15px; background-image: linear-gradient(-135deg, #FF7E5A 0%, #FF5D31 100%); box-shadow: 0 2px 10px 0 rgba(255,93,49,0.45); border-radius: 100px;color:#fff; padding:5px 21px; font-size:12px;}
}

#top{ position:relative; z-index: 1002;
    &.scrollFixed{ position:fixed; top:0; left:0; width:100%;
        .searchBar{ margin-top: -44px; @extend %trfast; }
    }
}

//顶部搜索
.searchBar{ background-color:#eee;  position:relative; padding:7px 14px; width:100%;
    .search{ width:100%; @include ismiddle; position:relative; @extend %trslow;
        input{ width:100%; border-radius:100px; color:#474747; padding-left:28px; padding-right:30px; border:1px solid #ddd; height:30px; line-height:30px; background-color:#fff;font-size:14px; z-index: 3; letter-spacing: 0px;}
        .icon-search{ position:absolute; top:8px; left:10px; font-size:14px; z-index: 90;}
        &.min{  width:90%; }
        .close{ position:absolute; right:0px; top:0; z-index: 22; text-align:center; padding:11px 14px;
            img{ width:10px;}
        }
        .txt{ position:absolute; width:100%;border:1px solid #ddd; height:30px; line-height:29px; z-index:4; background-color:#fff; border-radius:100px; left:0; top:0;  padding-left:28px; padding-right:30px;  @extend %textmore; font-size:14px; color:#474747; letter-spacing: 0px;}
    }
    .searchBtn{ font-size: 12px; color: #FF5D31; @extend %fontPF; position:absolute; right:14px; top:14px;  @extend %trslow; z-index: 2;
    }
}

.sliderLay{  font-size:0;
    &.marginTop{ margin-top:120px;}
}

//小煮头条
.headlines{ height:44px; line-height:44px; border-top:0.5px solid #eee;
    .tip{ @include ismiddle; width:cal(84,375); text-align: center; line-height: 1; border-right:1px solid #eee;
        font-size:14px; font-weight:bold;
    }
    .slideMid{ @include ismiddle; width:76%; padding-left:11px; line-height:1; height:40px;
        .item{ font-size:12px; color:#000; }
    }
}

.slider-container{ height:100%!important; width:100%!important; margin:0!important; padding:0!important; line-height: 1!important;
    .slider-item{ font-size:12px!important; color:#000!important; text-align: left!important; justify-content:left;}
    .slider-pagination{ display:none!important;}
}


//限时秒杀
.timeLimit{ border-bottom:1px solid #eee; border-top:7px solid #f9f9f9;
    .left{ width:cal(125,375); padding:12px;
        h2{ @extend %fontPF; font-size:14px; color:#000;}
        .img{ margin-top: 15px; }
    }
    .right{  width:cal(250,375);  border-left:1px solid #eee;
        .list{ border-top:1px solid #eee; padding:10px 10px 13px 13px;
            &:first-child{ border-top: 0px none;}
        }
        .info{ vertical-align: top; width:cal(145,240)}
        .img{ width:cal(76,240);  vertical-align: top; padding-top:cal(76,240); overflow: hidden; position: relative;
            img{ width: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto}
        }
        h2{ font-size:14px; color:#000; @extend %fontPF; @extend %textmore;}
        p{ font-size:12px; color:#a5a4a4; @extend %textmore2;}
    }
    //首页限时秒杀
    .limit{
        .time{  color:#000; font-size:12px;
            span{ background-color:$colorh; color:#fff; text-align: center; font-size:12px; margin:2px 4px; width:19px;    height:14px; line-height: 14px; display:inline-block;
                &:first-child{ margin-left: 0;}
            }
        }
    }
}


// 首页推荐
.recommendLay{ margin-top:10px; padding-bottom: 10px;
    li{ float: left; width:25%; text-align: center;
        img{ width:45px; height:45px; border-radius:50%;}
        p{ font-size: 12px; color:#000;}
    }
}

//  营销模块
.marketing{  border-bottom:7px solid #f9f9f9; margin-bottom:25px;
    .box{ width:33.3333%; border-left:1px solid #eee; padding:12px;
        &:first-child{ border-left:0px none;}
        .title{ font-size:14px; color:#000; @extend %fontPF; @extend %textmore;}
        .des{ font-size: 12px; color:#7f7f7f; margin-bottom:5px; @extend %textmore;}
        .img{ vertical-align: top; padding-top:100%; overflow: hidden; position: relative;
            img{ width: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;}
        }
    }
}


.section{ margin-bottom:28px; @extend %fontPF;
    h2{font-size:18px; padding-left:13px; font-weight:normal;}
}

//商品列表
.goodsList{
    .box{ position:relative; margin:17px 0; display:inline-block; vertical-align: top;}
    .img{ position:relative; text-align:center; overflow: hidden; padding-top: 100%;
        img{ width: 100%; position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;}
        span{ position:absolute; width:50px; height:50px; line-height:50px; background:rgba(0,0,0,0.5); border-radius:50%; color:#fff; font-size:14px; left:0; top:0; right:0; bottom:0; margin:auto; z-index: 2; }
        em,i{ position:absolute; left:8px; top:8px; background-color:$colorh; font-size:10px; color:#fff; padding:0px 6px;  z-index: 2; @extend %fontPF; border-radius:2px; overflow:hidden; line-height:normal;  border:1px solid $colorh;}
        i{ background-color:#fff; color:$colorh; }
    }
    .title{ font-size:14px;color:#474747; @extend %textmore; @extend %fontPFR;  margin-bottom:8px; margin-top:3px;}
    .price{ position:relative; width:100%;
        .sale{ color:#000; font-size:14px; @extend %fontPF; line-height:1;
            em{ font-size:10px; }
        }
        .discount{ font-size:10px; color:#a5a4a4; text-decoration:line-through; display:block; line-height:1;}
        .icon-cart{ position:absolute; right:6px; top:0px; width:20px; height:20px; border-radius:50%; background-color:#000; color:#fff; text-align: center; line-height: 20px;
            &:before{ font-size:14px;}
        }
        .icon-cart.ed{ background-color:#c4c4c4;}

    }
    &.oneCol{ padding:0 14px;
        .box{ width:100%; margin:10px 0;
            &:after{ content:''; position:absolute; width:cal(237,345); height:1px; background-color:#eee; bottom:-10px;
                right:0;}
        }
        .box:last-child:after{ display:none; }
        .img{ width:cal(100,345); vertical-align: top; display: inline-block; padding-top: cal(100,345); }
        .title{ width:cal(237,345); vertical-align:top; display:inline-block; @extend %textmore2; white-space:normal; padding-left: 10px;}
        .price{ position:absolute; padding-left:cal(110,345); bottom:14px;
            .discount{ display:inline-block; margin-left:5px;}
            .cart{ bottom:-2px; }
        }
    }
    &.twoCol{ padding:0 14px;
        .box{ width:48%; }
        .box:nth-child(odd){ margin-right:3.5%;}
        .price {
            .discount{ display:inline-block; margin-left:3px;}
            .cart{ bottom:-2px; }
        }
    }
    &.threeCol{
        .box{ padding:0 10px;}
        .box,.line{ width:33.333333%;}
    }
}

#footer{ position:fixed; bottom:0; width:100%; left:0; background-color:#fff; box-shadow: 0 -1px 0 0 rgba(238,238,238,0.50);  padding-bottom:3px; padding-top:9px; z-index: 100;
    li{ width:25%; text-align: center;  position:relative;
        .icon{ font-size:19px; }
        .icon_b{ display:none;}
        >a{
          &.active{
            .icon_a{ display:none;}
            .icon_b{ display:inline-block;}
            p{ color:$colorh; }
            span:before{ color:$colorh; }
          }
        }
        >a p{ color:#474747; font-size:10px; margin-top:3px;}
        >a em{ background-color:$colorh; color:#fff; line-height: 1; border-radius:100px; font-size:10px; padding:0 3px; @extend %fontPF; position:absolute; right:33px; top:-2px;}
    }
    li.minCol{ width:11.8%;
        >a p{ font-size:9px; }
    }
    li.largeCol{ width:cal(128,375); margin-right:10px; }
    li.bigCol{ width:cal(268,375); margin-right:10px; }
}


//筛选切换
.tagList{ height:40px; line-height:40px; background-color:#fff; position:relative; width:100%;  border-bottom:1px solid #EEEEEE; white-space: nowrap; word-break: keep-all; overflow-y: scroll;
    &.three li{ width:33.3333%; }
    li{ width:25%; text-align: center; font-size: 12px; color: #474747; position:relative; @include ismiddle;
        &:after{ width:24px; height:2px; position:absolute; margin:auto; bottom:0; left:0; right:0; background-color:$colorh; display:none; content:''; }
        &.active{ color:$colorh;
            &:after{ display:block; }
        }
    }
}

//筛选背景
.filterWrap{ background-color:#fff; position:relative;  width:100%; z-index: 1002;
    &.fixed{ position:fixed; top:0; left:0; }
    .tagArea{ font-size:12px; height:40px; line-height:40px; padding-left:14px; position:relative;
        .name{ @include ismiddle;  margin-right: 25px;}
        // .name.active{ color:$colorh;}
        .name.active:after{ border-top:0px solid #474747; border-bottom:3px solid #474747;}
        .name:after{ content:''; width:0; height:0; border-top:3px solid #474747; border-left:3px solid transparent;  border-right:3px solid transparent; @include ismiddle; margin-left:6px;}
    }
    .menu{ padding:9px 14px; line-height: 1; position:absolute; right:4px; top:0; z-index: 1003;
        span{ font-size:20px;  }
    }
}

//筛选warp position:absolute; top:100%; left:0; width:100%;
.tagContent{ background-color:#fff; z-index: 1002; position:relative;
    ul{ padding-left: 14px; background-color:#fff; position:absolute; top:100%; z-index: 22; width:100%; left:0;}
    li{ width:100%; font-size:12px; height:44px; line-height:40px; position:relative;
        span{ position:absolute; right:14px; top:15px; display:none;
            &:before{ font-size:12px;}
        }
        &.active{ color:$colorh;
            span{ display:inline-block;}
        }
    }
}

.noGoods{padding:14px; font-size: 14px; color: #474747; }

.gotop{ width:50px; height:50px;  background-color: #fff; box-shadow: 0 2px 10px 0 rgba(47,47,47,0.13); position:fixed; bottom:80px; right:14px; z-index: 777; border-radius:50%; text-align: center; padding-top:6px;
    span{ font-size:10px; color: #474747;}
    p{ font-size: 12px; color: #474747;}
}

